:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.intro-section {
    min-height: 100vh;
    padding: 2.8% 5.04%;
    background-color: var(--violet);
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-section__logo {
    width: 21.5rem;
    margin-left: -0.3rem;
    margin-top: 1.01%;
}

.intro-section__middle-section {
    align-self: center;
    display: flex;
    gap: 5.32rem;
    margin-top: 6.66%;
}

.intro-section__illustration {
    align-self: flex-start;
    max-width: 54.75%;
    object-fit: contain;
}

.intro-section__header {
    align-self: flex-start;
    margin-top: 3.3%;
}

.intro-section__title {
    font-size: 4rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.005em;
}

.intro-section__description {
    max-width: 97%;
    margin: 2rem 0 2.4rem;
    font-size: 1.8rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
}

.intro-section__register {
    all: unset;
    width: 100%;
    max-width: 20rem;
    padding-top: 1.3rem;
    padding-bottom: 1.6rem;
    background-color: white;
    border-radius: 2.8rem;
    box-shadow: .2rem .4rem .9rem .3rem rgba(0, 0, 0, 0.258633);
    color: var(--violet);
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color .25s;
}

.intro-section__register:hover {
    background-color: var(--soft-magenta);
    color: white;
}

.intro-section__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.6rem;
    margin-top: 1.65%;
    margin-right: .6%;
    position: relative;
}

.intro-section__links i {
    color: white;
    font-size: 2rem;
    border: .1rem solid;
    border-radius: 50%;
    line-height: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
    transition: .1s;
}

.intro-section__links i:hover {
    color: hsl(322, 100%, 66%);
}

.intro-section__links .fa-facebook-f {
    font-size: 1.8rem;
    line-height: 2.2em;
    width: 2.2225em;
    height: 2.2225em;
}

.intro-section__links .fa-twitter {
    font-size: 1.6rem;
    line-height: 2.5em;
    width: 2.5em;
    height: 2.5em;
}

.intro-section__links .fa-instagram {
    font-size: 2.05rem;
    line-height: 1.95em;
    width: 1.9515em;
    height: 1.9515em;
}

.attribution {
    position: absolute;
    right: 0;
    top: 4.8rem;
    font-size: .85rem;
    font-family: 'Poppins', sans-serif;
    color: lightgray;
    text-align: right;
}

.attribution a {
    color: white;
    transition: .1s;
    text-decoration: none;
}

.attribution a:hover {
    color: var(--soft-magenta);
}

@media (max-width: 1335px) {
    .intro-section {
        background-size: cover;;
    }
}

@media (max-width: 1199px) {
    .intro-section__header {
        margin-top: 0;
    }
}

@media (max-width: 842px) {
    .intro-section {
        min-height: none;
        background-image: url(../images/bg-mobile.svg);
        background-size: contain;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2.9rem 9.336% 4rem;
        align-items: center;
    }

    .intro-section__logo {
        align-self: flex-start;
        max-width: 12.9rem;
        margin-left: -0.1rem;
    }

    .intro-section__middle-section {
        margin-top: 5.9rem;
        flex-direction: column;
        gap: 6rem;
    }

    .intro-section__illustration {
        width: 99.018%;
        max-width: 50rem;
        align-self: center;
    }

    .intro-section__header {
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .intro-section__title {
        font-size: 2.4rem;
        line-height: 1.5em;
    }

    .intro-section__description {
        max-width: 100%;
        margin-top: 1.3rem;
        font-size: 1.6rem;
    }

    .intro-section__register {
        padding-top: 1.2rem;
        padding-bottom: 1rem;
        font-size: 1.2rem;
        box-shadow: .1rem .3rem .5rem rgba(0, 0, 0, 0.269022);
    }

    .intro-section__links {
        width: 100%;
        justify-content: center;
        margin-top: 6.4rem;
        margin-right: 0;
        gap: 1rem;
    }

    .intro-section__links .fa-facebook-f {
        font-size: 1.3rem;
        line-height: 2.2em;
        width: 2.155em;
        height: 2.155em;
    }
    
    .intro-section__links .fa-twitter {
        font-size: 1.2rem;
        line-height: 2.3em;
        width: 2.334em;
        height: 2.334em;
    }
    
    .intro-section__links .fa-instagram {
        font-size: 1.5rem;
        line-height: 1.9em;
        width: 1.867em;
        height: 1.867em;
    }

    .attribution {
        text-align: center;
        top: 3.5rem;
        right: auto;
        font-size: .75rem;
    }
}